In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("btc_1d_with_indicators.csv")

In [3]:
df

,Open time,Open,High,Low,Close,Volume,Quote asset volume,Number of trades,Taker buy base asset volume,SMA_14,EMA_14,RSI_14,MACD,MACD_signal,MACD_hist,STO_K,STO_D,STO_RSI_K,STO_RSI_D,OBV
0,2018-01-01 00:00:00+00:00,13715.65,13818.55,12750.00,13380.00,8609.915844,1.147997e+08,105595,3961.938946,14791.98429,14330.75279,44.254558,0.000000,0.000000,0.000000,35.922849,31.959339,0.813677,0.650675,8609.915844
1,2018-01-02 00:00:00+00:00,13382.16,15473.49,12890.02,14675.11,20078.092110,2.797171e+08,177728,11346.326740,14791.98429,14330.75279,44.254558,0.000000,0.000000,0.000000,35.922849,31.959339,0.813677,0.650675,28688.007960
2,2018-01-03 00:00:00+00:00,14690.00,15307.56,14150.00,14919.51,15905.667640,2.361169e+08,162787,8994.953566,14791.98429,14330.75279,44.254558,0.000000,0.000000,0.000000,35.922849,31.959339,0.813677,0.650675,44593.675590
3,2018-01-04 00:00:00+00:00,14919.51,15280.00,13918.04,15059.54,21329.649570,3.127816e+08,170310,12680.812950,14791.98429,14330.75279,44.254558,0.000000,0.000000,0.000000,35.922849,31.959339,0.813677,0.650675,65923.325170
4,2018-01-05 00:00:00+00:00,15059.56,17176.24,14600.00,16960.39,23251.491130,3.693220e+08,192969,13346.622290,14791.98429,14330.75279,44.254558,0.000000,0.000000,0.000000,35.922849,31.959339,0.813677,0.650675,89174.816290
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2792,2025-08-24 00:00:00+00:00,115438.06,115666.68,115196.00,115601.93,1193.357180,1.377137e+08,129125,665.360720,117225.17000,116061.11130,48.610563,-295.186313,133.366858,-428.553171,26.909065,21.585904,0.228149,0.161831,-426573.084600
2793,2025-08-25 00:00:00+00:00,113493.59,113516.16,112159.00,113199.99,1458.788830,1.646539e+08,406224,697.641960,116635.18140,115679.62850,43.794560,-491.461523,8.401182,-499.862706,8.453025,23.018196,0.253211,0.223368,-428031.873500
2794,2025-08-26 00:00:00+00:00,110111.98,110111.98,108666.66,109856.01,3231.354180,3.535917e+08,792879,1526.406610,115984.27210,114903.14600,38.130649,-906.393936,-174.557842,-731.836094,7.524036,14.295376,0.133067,0.204809,-431263.227700
2795,2025-08-27 00:00:00+00:00,111763.22,111825.16,111092.80,111295.21,1064.992840,1.187093e+08,184389,432.305860,115414.31640,114422.08790,41.629549,-1106.346180,-360.915509,-745.430671,16.628667,10.868576,0.076038,0.154106,-430198.234800
2796,2025-08-28 00:00:00+00:00,111262.01,111714.28,110862.42,111652.47,651.685180,7.255099e+07,218066,328.710970,114563.16070,114052.80550,42.498870,-1221.896615,-533.111730,-688.784884,29.598609,17.917104,0.133652,0.114252,-429546.549600

In [4]:
# 전날 값
df["prev_close"] = df["Close"].shift(1)

# 변화량 (전날 - 현재)
df["change"] = df["prev_close"] - df["Close"]
df["change_rate"] = (df["prev_close"] - df["Close"]) / df["prev_close"]
# 첫 행의 NaN을 "다음날 close - 오늘 close"로 대체
# df.loc[0, "change"] = df.loc[1, "Close"] - df.loc[0, "Close"]

print(df.head())

                   Open time      Open      High       Low     Close  \
0  2018-01-01 00:00:00+00:00  13715.65  13818.55  12750.00  13380.00
1  2018-01-02 00:00:00+00:00  13382.16  15473.49  12890.02  14675.11
2  2018-01-03 00:00:00+00:00  14690.00  15307.56  14150.00  14919.51
3  2018-01-04 00:00:00+00:00  14919.51  15280.00  13918.04  15059.54
4  2018-01-05 00:00:00+00:00  15059.56  17176.24  14600.00  16960.39

         Volume  Quote asset volume  Number of trades  \
0   8609.915844         114799747.4            105595
1  20078.092110         279717107.4            177728
2  15905.667640         236116868.3            162787
3  21329.649570         312781583.8            170310
4  23251.491130         369321956.5            192969

   Taker buy base asset volume       SMA_14  ...  MACD_signal  MACD_hist  \
0                  3961.938946  14791.98429  ...          0.0        0.0
1                 11346.326740  14791.98429  ...          0.0        0.0
2                  8994.953566  14791.98429  ...          0.0        0.0
3                 12680.812950  14791.98429  ...          0.0        0.0
4                 13346.622290  14791.98429  ...          0.0        0.0

       STO_K      STO_D  STO_RSI_K  STO_RSI_D           OBV  prev_close  \
0  35.922849  31.959339   0.813677   0.650675   8609.915844         NaN
1  35.922849  31.959339   0.813677   0.650675  28688.007960    13380.00
2  35.922849  31.959339   0.813677   0.650675  44593.675590    14675.11
3  35.922849  31.959339   0.813677   0.650675  65923.325170    14919.51
4  35.922849  31.959339   0.813677   0.650675  89174.816290    15059.54

    change  change_rate
0      NaN          NaN
1 -1295.11    -0.096794
2  -244.40    -0.016654
3  -140.03    -0.009386
4 -1900.85    -0.126222

[5 rows x 23 columns]

In [5]:
df.fillna(0, inplace= True)

In [6]:
df = df.drop(columns='prev_close')

In [7]:
df

,Open time,Open,High,Low,Close,Volume,Quote asset volume,Number of trades,Taker buy base asset volume,SMA_14,...,MACD,MACD_signal,MACD_hist,STO_K,STO_D,STO_RSI_K,STO_RSI_D,OBV,change,change_rate
0,2018-01-01 00:00:00+00:00,13715.65,13818.55,12750.00,13380.00,8609.915844,1.147997e+08,105595,3961.938946,14791.98429,...,0.000000,0.000000,0.000000,35.922849,31.959339,0.813677,0.650675,8609.915844,0.00,0.000000
1,2018-01-02 00:00:00+00:00,13382.16,15473.49,12890.02,14675.11,20078.092110,2.797171e+08,177728,11346.326740,14791.98429,...,0.000000,0.000000,0.000000,35.922849,31.959339,0.813677,0.650675,28688.007960,-1295.11,-0.096794
2,2018-01-03 00:00:00+00:00,14690.00,15307.56,14150.00,14919.51,15905.667640,2.361169e+08,162787,8994.953566,14791.98429,...,0.000000,0.000000,0.000000,35.922849,31.959339,0.813677,0.650675,44593.675590,-244.40,-0.016654
3,2018-01-04 00:00:00+00:00,14919.51,15280.00,13918.04,15059.54,21329.649570,3.127816e+08,170310,12680.812950,14791.98429,...,0.000000,0.000000,0.000000,35.922849,31.959339,0.813677,0.650675,65923.325170,-140.03,-0.009386
4,2018-01-05 00:00:00+00:00,15059.56,17176.24,14600.00,16960.39,23251.491130,3.693220e+08,192969,13346.622290,14791.98429,...,0.000000,0.000000,0.000000,35.922849,31.959339,0.813677,0.650675,89174.816290,-1900.85,-0.126222
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2792,2025-08-24 00:00:00+00:00,115438.06,115666.68,115196.00,115601.93,1193.357180,1.377137e+08,129125,665.360720,117225.17000,...,-295.186313,133.366858,-428.553171,26.909065,21.585904,0.228149,0.161831,-426573.084600,823.40,0.007072
2793,2025-08-25 00:00:00+00:00,113493.59,113516.16,112159.00,113199.99,1458.788830,1.646539e+08,406224,697.641960,116635.18140,...,-491.461523,8.401182,-499.862706,8.453025,23.018196,0.253211,0.223368,-428031.873500,2401.94,0.020778
2794,2025-08-26 00:00:00+00:00,110111.98,110111.98,108666.66,109856.01,3231.354180,3.535917e+08,792879,1526.406610,115984.27210,...,-906.393936,-174.557842,-731.836094,7.524036,14.295376,0.133067,0.204809,-431263.227700,3343.98,0.029540
2795,2025-08-27 00:00:00+00:00,111763.22,111825.16,111092.80,111295.21,1064.992840,1.187093e+08,184389,432.305860,115414.31640,...,-1106.346180,-360.915509,-745.430671,16.628667,10.868576,0.076038,0.154106,-430198.234800,-1439.20,-0.013101
2796,2025-08-28 00:00:00+00:00,111262.01,111714.28,110862.42,111652.47,651.685180,7.255099e+07,218066,328.710970,114563.16070,...,-1221.896615,-533.111730,-688.784884,29.598609,17.917104,0.133652,0.114252,-429546.549600,-357.26,-0.003210

In [8]:
df.to_csv('btc_change_1.csv')

In [9]:
df

,Open time,Open,High,Low,Close,Volume,Quote asset volume,Number of trades,Taker buy base asset volume,SMA_14,...,MACD,MACD_signal,MACD_hist,STO_K,STO_D,STO_RSI_K,STO_RSI_D,OBV,change,change_rate
0,2018-01-01 00:00:00+00:00,13715.65,13818.55,12750.00,13380.00,8609.915844,1.147997e+08,105595,3961.938946,14791.98429,...,0.000000,0.000000,0.000000,35.922849,31.959339,0.813677,0.650675,8609.915844,0.00,0.000000
1,2018-01-02 00:00:00+00:00,13382.16,15473.49,12890.02,14675.11,20078.092110,2.797171e+08,177728,11346.326740,14791.98429,...,0.000000,0.000000,0.000000,35.922849,31.959339,0.813677,0.650675,28688.007960,-1295.11,-0.096794
2,2018-01-03 00:00:00+00:00,14690.00,15307.56,14150.00,14919.51,15905.667640,2.361169e+08,162787,8994.953566,14791.98429,...,0.000000,0.000000,0.000000,35.922849,31.959339,0.813677,0.650675,44593.675590,-244.40,-0.016654
3,2018-01-04 00:00:00+00:00,14919.51,15280.00,13918.04,15059.54,21329.649570,3.127816e+08,170310,12680.812950,14791.98429,...,0.000000,0.000000,0.000000,35.922849,31.959339,0.813677,0.650675,65923.325170,-140.03,-0.009386
4,2018-01-05 00:00:00+00:00,15059.56,17176.24,14600.00,16960.39,23251.491130,3.693220e+08,192969,13346.622290,14791.98429,...,0.000000,0.000000,0.000000,35.922849,31.959339,0.813677,0.650675,89174.816290,-1900.85,-0.126222
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2792,2025-08-24 00:00:00+00:00,115438.06,115666.68,115196.00,115601.93,1193.357180,1.377137e+08,129125,665.360720,117225.17000,...,-295.186313,133.366858,-428.553171,26.909065,21.585904,0.228149,0.161831,-426573.084600,823.40,0.007072
2793,2025-08-25 00:00:00+00:00,113493.59,113516.16,112159.00,113199.99,1458.788830,1.646539e+08,406224,697.641960,116635.18140,...,-491.461523,8.401182,-499.862706,8.453025,23.018196,0.253211,0.223368,-428031.873500,2401.94,0.020778
2794,2025-08-26 00:00:00+00:00,110111.98,110111.98,108666.66,109856.01,3231.354180,3.535917e+08,792879,1526.406610,115984.27210,...,-906.393936,-174.557842,-731.836094,7.524036,14.295376,0.133067,0.204809,-431263.227700,3343.98,0.029540
2795,2025-08-27 00:00:00+00:00,111763.22,111825.16,111092.80,111295.21,1064.992840,1.187093e+08,184389,432.305860,115414.31640,...,-1106.346180,-360.915509,-745.430671,16.628667,10.868576,0.076038,0.154106,-430198.234800,-1439.20,-0.013101
2796,2025-08-28 00:00:00+00:00,111262.01,111714.28,110862.42,111652.47,651.685180,7.255099e+07,218066,328.710970,114563.16070,...,-1221.896615,-533.111730,-688.784884,29.598609,17.917104,0.133652,0.114252,-429546.549600,-357.26,-0.003210

In [10]:
df['change_rate'] =

SyntaxError: invalid syntax (1167778356.py, line 1)

In [11]:
df.tail()

,Open time,Open,High,Low,Close,Volume,Quote asset volume,Number of trades,Taker buy base asset volume,SMA_14,...,MACD,MACD_signal,MACD_hist,STO_K,STO_D,STO_RSI_K,STO_RSI_D,OBV,change,change_rate
2792,2025-08-24 00:00:00+00:00,115438.06,115666.68,115196.00,115601.93,1193.35718,1.377137e+08,129125,665.36072,117225.1700,...,-295.186313,133.366858,-428.553171,26.909065,21.585904,0.228149,0.161831,-426573.0846,823.40,0.007072
2793,2025-08-25 00:00:00+00:00,113493.59,113516.16,112159.00,113199.99,1458.78883,1.646539e+08,406224,697.64196,116635.1814,...,-491.461523,8.401182,-499.862706,8.453025,23.018196,0.253211,0.223368,-428031.8735,2401.94,0.020778
2794,2025-08-26 00:00:00+00:00,110111.98,110111.98,108666.66,109856.01,3231.35418,3.535917e+08,792879,1526.40661,115984.2721,...,-906.393936,-174.557842,-731.836094,7.524036,14.295376,0.133067,0.204809,-431263.2277,3343.98,0.029540
2795,2025-08-27 00:00:00+00:00,111763.22,111825.16,111092.80,111295.21,1064.99284,1.187093e+08,184389,432.30586,115414.3164,...,-1106.346180,-360.915509,-745.430671,16.628667,10.868576,0.076038,0.154106,-430198.2348,-1439.20,-0.013101
2796,2025-08-28 00:00:00+00:00,111262.01,111714.28,110862.42,111652.47,651.68518,7.255099e+07,218066,328.71097,114563.1607,...,-1221.896615,-533.111730,-688.784884,29.598609,17.917104,0.133652,0.114252,-429546.5496,-357.26,-0.003210

In [12]:
df = pd.read_csv('btc_change_1.csv', index_col= 0)

In [13]:
df_gold = pd.read_csv('XAU_USD 과거 데이터.csv')

In [14]:
# 예시 입력: '2025-08-24 00:00:00+00:00'
df['Open time'] = pd.to_datetime(df['Open time'], utc=True, errors='coerce')
# 날짜(UTC 자정으로 정규화)
df['date_utc'] = df['Open time'].dt.normalize()  # = yyyy-mm-dd 00:00:00+00:00

In [15]:
df

,Open time,Open,High,Low,Close,Volume,Quote asset volume,Number of trades,Taker buy base asset volume,SMA_14,...,MACD_signal,MACD_hist,STO_K,STO_D,STO_RSI_K,STO_RSI_D,OBV,change,change_rate,date_utc
0,2018-01-01 00:00:00+00:00,13715.65,13818.55,12750.00,13380.00,8609.915844,1.147997e+08,105595,3961.938946,14791.98429,...,0.000000,0.000000,35.922849,31.959339,0.813677,0.650675,8609.915844,0.00,0.000000,2018-01-01 00:00:00+00:00
1,2018-01-02 00:00:00+00:00,13382.16,15473.49,12890.02,14675.11,20078.092110,2.797171e+08,177728,11346.326740,14791.98429,...,0.000000,0.000000,35.922849,31.959339,0.813677,0.650675,28688.007960,-1295.11,-0.096794,2018-01-02 00:00:00+00:00
2,2018-01-03 00:00:00+00:00,14690.00,15307.56,14150.00,14919.51,15905.667640,2.361169e+08,162787,8994.953566,14791.98429,...,0.000000,0.000000,35.922849,31.959339,0.813677,0.650675,44593.675590,-244.40,-0.016654,2018-01-03 00:00:00+00:00
3,2018-01-04 00:00:00+00:00,14919.51,15280.00,13918.04,15059.54,21329.649570,3.127816e+08,170310,12680.812950,14791.98429,...,0.000000,0.000000,35.922849,31.959339,0.813677,0.650675,65923.325170,-140.03,-0.009386,2018-01-04 00:00:00+00:00
4,2018-01-05 00:00:00+00:00,15059.56,17176.24,14600.00,16960.39,23251.491130,3.693220e+08,192969,13346.622290,14791.98429,...,0.000000,0.000000,35.922849,31.959339,0.813677,0.650675,89174.816290,-1900.85,-0.126222,2018-01-05 00:00:00+00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2792,2025-08-24 00:00:00+00:00,115438.06,115666.68,115196.00,115601.93,1193.357180,1.377137e+08,129125,665.360720,117225.17000,...,133.366858,-428.553171,26.909065,21.585904,0.228149,0.161831,-426573.084600,823.40,0.007072,2025-08-24 00:00:00+00:00
2793,2025-08-25 00:00:00+00:00,113493.59,113516.16,112159.00,113199.99,1458.788830,1.646539e+08,406224,697.641960,116635.18140,...,8.401182,-499.862706,8.453025,23.018196,0.253211,0.223368,-428031.873500,2401.94,0.020778,2025-08-25 00:00:00+00:00
2794,2025-08-26 00:00:00+00:00,110111.98,110111.98,108666.66,109856.01,3231.354180,3.535917e+08,792879,1526.406610,115984.27210,...,-174.557842,-731.836094,7.524036,14.295376,0.133067,0.204809,-431263.227700,3343.98,0.029540,2025-08-26 00:00:00+00:00
2795,2025-08-27 00:00:00+00:00,111763.22,111825.16,111092.80,111295.21,1064.992840,1.187093e+08,184389,432.305860,115414.31640,...,-360.915509,-745.430671,16.628667,10.868576,0.076038,0.154106,-430198.234800,-1439.20,-0.013101,2025-08-27 00:00:00+00:00
2796,2025-08-28 00:00:00+00:00,111262.01,111714.28,110862.42,111652.47,651.685180,7.255099e+07,218066,328.710970,114563.16070,...,-533.111730,-688.784884,29.598609,17.917104,0.133652,0.114252,-429546.549600,-357.26,-0.003210,2025-08-28 00:00:00+00:00

In [16]:
df_gold['날짜'] = df_gold['날짜'].astype(str).str.replace(' ', '', regex=False)
gold_date = pd.to_datetime(df_gold['날짜'], errors='coerce', format='%Y-%m-%d')
df_gold['date_utc'] = gold_date.dt.tz_localize('UTC').dt.normalize()

In [17]:
df_gold

,날짜,종가,시가,고가,저가,거래량,변동 %,date_utc
0,2025-08-28,"3,417.20","3,394.18","3,423.36","3,384.46",NaN,0.58%,2025-08-28 00:00:00+00:00
1,2025-08-27,"3,397.42","3,392.88","3,398.94","3,373.76",NaN,0.13%,2025-08-27 00:00:00+00:00
2,2025-08-26,"3,392.88","3,366.78","3,394.33","3,351.26",NaN,0.77%,2025-08-26 00:00:00+00:00
3,2025-08-25,"3,366.79","3,371.23","3,376.47","3,359.69",NaN,-0.16%,2025-08-25 00:00:00+00:00
4,2025-08-22,"3,372.11","3,338.76","3,379.01","3,321.49",NaN,1.00%,2025-08-22 00:00:00+00:00
...,...,...,...,...,...,...,...,...
1986,2018-01-05,"1,320.21","1,323.50","1,323.83","1,313.81",NaN,-0.21%,2018-01-05 00:00:00+00:00
1987,2018-01-04,"1,322.97","1,312.53","1,325.92","1,305.67",NaN,0.77%,2018-01-04 00:00:00+00:00
1988,2018-01-03,"1,312.84","1,318.16","1,321.40","1,307.16",NaN,-0.40%,2018-01-03 00:00:00+00:00
1989,2018-01-02,"1,318.14","1,302.55","1,318.98","1,302.51",NaN,0.86%,2018-01-02 00:00:00+00:00
1990,2018-01-01,"1,306.86","1,303.43","1,307.72","1,302.43",NaN,0.33%,2018-01-01 00:00:00+00:00

In [18]:
df_gold['종가'] = (
    df_gold['종가']
    .astype(str)
    .str.replace(',', '', regex=False)
)
df_gold['Gold_close'] = pd.to_numeric(df_gold['종가'], errors='coerce')

In [19]:
df_gold.tail()

,날짜,종가,시가,고가,저가,거래량,변동 %,date_utc,Gold_close
1986,2018-01-05,1320.21,"1,323.50","1,323.83","1,313.81",NaN,-0.21%,2018-01-05 00:00:00+00:00,1320.21
1987,2018-01-04,1322.97,"1,312.53","1,325.92","1,305.67",NaN,0.77%,2018-01-04 00:00:00+00:00,1322.97
1988,2018-01-03,1312.84,"1,318.16","1,321.40","1,307.16",NaN,-0.40%,2018-01-03 00:00:00+00:00,1312.84
1989,2018-01-02,1318.14,"1,302.55","1,318.98","1,302.51",NaN,0.86%,2018-01-02 00:00:00+00:00,1318.14
1990,2018-01-01,1306.86,"1,303.43","1,307.72","1,302.43",NaN,0.33%,2018-01-01 00:00:00+00:00,1306.86

In [20]:
df_gold = df_gold[['date_utc', 'Gold_close']]

In [21]:
merged = pd.merge(df, df_gold, on='date_utc', how='left')
merged = merged.sort_values('Open time').drop_duplicates(subset=['Open time'])
# merged = merged.drop(columns=['date_utc'])

In [22]:
merged.to_csv('merged_btc_gold_2.csv', index=False, encoding='utf-8-sig')
print("병합 완료! -> merged_btc_gold_2.csv")

병합 완료! -> merged_btc_gold_2.csv

In [23]:
merged

,Open time,Open,High,Low,Close,Volume,Quote asset volume,Number of trades,Taker buy base asset volume,SMA_14,...,MACD_hist,STO_K,STO_D,STO_RSI_K,STO_RSI_D,OBV,change,change_rate,date_utc,Gold_close
0,2018-01-01 00:00:00+00:00,13715.65,13818.55,12750.00,13380.00,8609.915844,1.147997e+08,105595,3961.938946,14791.98429,...,0.000000,35.922849,31.959339,0.813677,0.650675,8609.915844,0.00,0.000000,2018-01-01 00:00:00+00:00,1306.86
1,2018-01-02 00:00:00+00:00,13382.16,15473.49,12890.02,14675.11,20078.092110,2.797171e+08,177728,11346.326740,14791.98429,...,0.000000,35.922849,31.959339,0.813677,0.650675,28688.007960,-1295.11,-0.096794,2018-01-02 00:00:00+00:00,1318.14
2,2018-01-03 00:00:00+00:00,14690.00,15307.56,14150.00,14919.51,15905.667640,2.361169e+08,162787,8994.953566,14791.98429,...,0.000000,35.922849,31.959339,0.813677,0.650675,44593.675590,-244.40,-0.016654,2018-01-03 00:00:00+00:00,1312.84
3,2018-01-04 00:00:00+00:00,14919.51,15280.00,13918.04,15059.54,21329.649570,3.127816e+08,170310,12680.812950,14791.98429,...,0.000000,35.922849,31.959339,0.813677,0.650675,65923.325170,-140.03,-0.009386,2018-01-04 00:00:00+00:00,1322.97
4,2018-01-05 00:00:00+00:00,15059.56,17176.24,14600.00,16960.39,23251.491130,3.693220e+08,192969,13346.622290,14791.98429,...,0.000000,35.922849,31.959339,0.813677,0.650675,89174.816290,-1900.85,-0.126222,2018-01-05 00:00:00+00:00,1320.21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2792,2025-08-24 00:00:00+00:00,115438.06,115666.68,115196.00,115601.93,1193.357180,1.377137e+08,129125,665.360720,117225.17000,...,-428.553171,26.909065,21.585904,0.228149,0.161831,-426573.084600,823.40,0.007072,2025-08-24 00:00:00+00:00,NaN
2793,2025-08-25 00:00:00+00:00,113493.59,113516.16,112159.00,113199.99,1458.788830,1.646539e+08,406224,697.641960,116635.18140,...,-499.862706,8.453025,23.018196,0.253211,0.223368,-428031.873500,2401.94,0.020778,2025-08-25 00:00:00+00:00,3366.79
2794,2025-08-26 00:00:00+00:00,110111.98,110111.98,108666.66,109856.01,3231.354180,3.535917e+08,792879,1526.406610,115984.27210,...,-731.836094,7.524036,14.295376,0.133067,0.204809,-431263.227700,3343.98,0.029540,2025-08-26 00:00:00+00:00,3392.88
2795,2025-08-27 00:00:00+00:00,111763.22,111825.16,111092.80,111295.21,1064.992840,1.187093e+08,184389,432.305860,115414.31640,...,-745.430671,16.628667,10.868576,0.076038,0.154106,-430198.234800,-1439.20,-0.013101,2025-08-27 00:00:00+00:00,3397.42
2796,2025-08-28 00:00:00+00:00,111262.01,111714.28,110862.42,111652.47,651.685180,7.255099e+07,218066,328.710970,114563.16070,...,-688.784884,29.598609,17.917104,0.133652,0.114252,-429546.549600,-357.26,-0.003210,2025-08-28 00:00:00+00:00,3417.20

In [24]:
df_f = pd.read_csv('FGI.csv', index_col=0)

In [25]:
df_f

      value value_classification            timestamp  time_until_update
0        46                 Fear  2025-09-01 09:00:00            20603.0
1        48              Neutral  2025-08-31 09:00:00                NaN
2        39                 Fear  2025-08-30 09:00:00                NaN
3        50              Neutral  2025-08-29 09:00:00                NaN
4        48              Neutral  2025-08-28 09:00:00                NaN
...     ...                  ...                  ...                ...
2761     11         Extreme Fear  2018-02-05 09:00:00                NaN
2762     24         Extreme Fear  2018-02-04 09:00:00                NaN
2763     40                 Fear  2018-02-03 09:00:00                NaN
2764     15         Extreme Fear  2018-02-02 09:00:00                NaN
2765     30                 Fear  2018-02-01 09:00:00                NaN

[2766 rows x 4 columns]

In [26]:
df_f['timestamp'] = pd.to_datetime(df_f['timestamp'],utc=True, errors='coerce')
df_f['date_utc'] = df_f['timestamp'].dt.normalize()

In [27]:
df_f

,value,value_classification,timestamp,time_until_update,date_utc
0,46,Fear,2025-09-01 09:00:00+00:00,20603.0,2025-09-01 00:00:00+00:00
1,48,Neutral,2025-08-31 09:00:00+00:00,NaN,2025-08-31 00:00:00+00:00
2,39,Fear,2025-08-30 09:00:00+00:00,NaN,2025-08-30 00:00:00+00:00
3,50,Neutral,2025-08-29 09:00:00+00:00,NaN,2025-08-29 00:00:00+00:00
4,48,Neutral,2025-08-28 09:00:00+00:00,NaN,2025-08-28 00:00:00+00:00
...,...,...,...,...,...
2761,11,Extreme Fear,2018-02-05 09:00:00+00:00,NaN,2018-02-05 00:00:00+00:00
2762,24,Extreme Fear,2018-02-04 09:00:00+00:00,NaN,2018-02-04 00:00:00+00:00
2763,40,Fear,2018-02-03 09:00:00+00:00,NaN,2018-02-03 00:00:00+00:00
2764,15,Extreme Fear,2018-02-02 09:00:00+00:00,NaN,2018-02-02 00:00:00+00:00
2765,30,Fear,2018-02-01 09:00:00+00:00,NaN,2018-02-01 00:00:00+00:00

In [28]:
df_f = df_f[['value', 'date_utc','value_classification']]

In [29]:
merged2 = pd.merge(merged, df_f, on='date_utc', how='left')

In [30]:
merged2

,Open time,Open,High,Low,Close,Volume,Quote asset volume,Number of trades,Taker buy base asset volume,SMA_14,...,STO_D,STO_RSI_K,STO_RSI_D,OBV,change,change_rate,date_utc,Gold_close,value,value_classification
0,2018-01-01 00:00:00+00:00,13715.65,13818.55,12750.00,13380.00,8609.915844,1.147997e+08,105595,3961.938946,14791.98429,...,31.959339,0.813677,0.650675,8609.915844,0.00,0.000000,2018-01-01 00:00:00+00:00,1306.86,NaN,NaN
1,2018-01-02 00:00:00+00:00,13382.16,15473.49,12890.02,14675.11,20078.092110,2.797171e+08,177728,11346.326740,14791.98429,...,31.959339,0.813677,0.650675,28688.007960,-1295.11,-0.096794,2018-01-02 00:00:00+00:00,1318.14,NaN,NaN
2,2018-01-03 00:00:00+00:00,14690.00,15307.56,14150.00,14919.51,15905.667640,2.361169e+08,162787,8994.953566,14791.98429,...,31.959339,0.813677,0.650675,44593.675590,-244.40,-0.016654,2018-01-03 00:00:00+00:00,1312.84,NaN,NaN
3,2018-01-04 00:00:00+00:00,14919.51,15280.00,13918.04,15059.54,21329.649570,3.127816e+08,170310,12680.812950,14791.98429,...,31.959339,0.813677,0.650675,65923.325170,-140.03,-0.009386,2018-01-04 00:00:00+00:00,1322.97,NaN,NaN
4,2018-01-05 00:00:00+00:00,15059.56,17176.24,14600.00,16960.39,23251.491130,3.693220e+08,192969,13346.622290,14791.98429,...,31.959339,0.813677,0.650675,89174.816290,-1900.85,-0.126222,2018-01-05 00:00:00+00:00,1320.21,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2792,2025-08-24 00:00:00+00:00,115438.06,115666.68,115196.00,115601.93,1193.357180,1.377137e+08,129125,665.360720,117225.17000,...,21.585904,0.228149,0.161831,-426573.084600,823.40,0.007072,2025-08-24 00:00:00+00:00,NaN,53.0,Neutral
2793,2025-08-25 00:00:00+00:00,113493.59,113516.16,112159.00,113199.99,1458.788830,1.646539e+08,406224,697.641960,116635.18140,...,23.018196,0.253211,0.223368,-428031.873500,2401.94,0.020778,2025-08-25 00:00:00+00:00,3366.79,47.0,Neutral
2794,2025-08-26 00:00:00+00:00,110111.98,110111.98,108666.66,109856.01,3231.354180,3.535917e+08,792879,1526.406610,115984.27210,...,14.295376,0.133067,0.204809,-431263.227700,3343.98,0.029540,2025-08-26 00:00:00+00:00,3392.88,48.0,Neutral
2795,2025-08-27 00:00:00+00:00,111763.22,111825.16,111092.80,111295.21,1064.992840,1.187093e+08,184389,432.305860,115414.31640,...,10.868576,0.076038,0.154106,-430198.234800,-1439.20,-0.013101,2025-08-27 00:00:00+00:00,3397.42,51.0,Neutral
2796,2025-08-28 00:00:00+00:00,111262.01,111714.28,110862.42,111652.47,651.685180,7.255099e+07,218066,328.710970,114563.16070,...,17.917104,0.133652,0.114252,-429546.549600,-357.26,-0.003210,2025-08-28 00:00:00+00:00,3417.20,48.0,Neutral

In [29]:
merged2 = merged2[31:]

In [30]:
merged2

,Open time,Open,High,Low,Close,Volume,Quote asset volume,Number of trades,Taker buy base asset volume,SMA_14,...,STO_D,STO_RSI_K,STO_RSI_D,OBV,change,change_rate,date_utc,Gold_close,value,value_classification
31,2018-02-01 00:00:00+00:00,10285.10,10335.00,8750.99,9224.52,33564.76431,3.176363e+08,316020,15430.00385,11096.24929,...,19.214321,0.231891,0.456746,-6091.037362,1060.58,0.103118,2018-02-01 00:00:00+00:00,1349.19,30.0,Fear
32,2018-02-02 00:00:00+00:00,9224.52,9250.00,8010.02,8873.03,49971.62698,4.342365e+08,453411,23113.50358,10910.39571,...,15.021008,0.120545,0.273759,-56062.664340,351.49,0.038104,2018-02-02 00:00:00+00:00,1332.98,15.0,Extreme Fear
33,2018-02-03 00:00:00+00:00,8873.03,9473.01,8229.00,9199.96,28725.00074,2.568347e+08,327519,14182.83815,10653.25429,...,17.564150,0.066005,0.139480,-27337.663600,-326.93,-0.036845,2018-02-03 00:00:00+00:00,NaN,40.0,Fear
34,2018-02-04 00:00:00+00:00,9199.96,9368.00,7930.00,8184.81,32014.30845,2.749123e+08,356134,13805.29579,10414.31214,...,15.902768,0.066005,0.084185,-59351.972050,1015.15,0.110343,2018-02-04 00:00:00+00:00,NaN,24.0,Extreme Fear
35,2018-02-05 00:00:00+00:00,8179.99,8382.80,6625.00,6939.99,63403.18258,4.711662e+08,533510,29857.35839,10141.45071,...,12.118566,0.066005,0.066005,-122755.154600,1244.82,0.152089,2018-02-05 00:00:00+00:00,1339.60,11.0,Extreme Fear
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2792,2025-08-24 00:00:00+00:00,115438.06,115666.68,115196.00,115601.93,1193.35718,1.377137e+08,129125,665.36072,117225.17000,...,21.585904,0.228149,0.161831,-426573.084600,823.40,0.007072,2025-08-24 00:00:00+00:00,NaN,53.0,Neutral
2793,2025-08-25 00:00:00+00:00,113493.59,113516.16,112159.00,113199.99,1458.78883,1.646539e+08,406224,697.64196,116635.18140,...,23.018196,0.253211,0.223368,-428031.873500,2401.94,0.020778,2025-08-25 00:00:00+00:00,3366.79,47.0,Neutral
2794,2025-08-26 00:00:00+00:00,110111.98,110111.98,108666.66,109856.01,3231.35418,3.535917e+08,792879,1526.40661,115984.27210,...,14.295376,0.133067,0.204809,-431263.227700,3343.98,0.029540,2025-08-26 00:00:00+00:00,3392.88,48.0,Neutral
2795,2025-08-27 00:00:00+00:00,111763.22,111825.16,111092.80,111295.21,1064.99284,1.187093e+08,184389,432.30586,115414.31640,...,10.868576,0.076038,0.154106,-430198.234800,-1439.20,-0.013101,2025-08-27 00:00:00+00:00,3397.42,51.0,Neutral
2796,2025-08-28 00:00:00+00:00,111262.01,111714.28,110862.42,111652.47,651.68518,7.255099e+07,218066,328.71097,114563.16070,...,17.917104,0.133652,0.114252,-429546.549600,-357.26,-0.003210,2025-08-28 00:00:00+00:00,3417.20,48.0,Neutral

In [43]:
merged2.to_csv('merged_btc_gold_FGI.csv', index=False, encoding='utf-8-sig')
print("병합 완료! -> merged_btc_gold_FGI.csv")

병합 완료! -> merged_btc_gold_FGI.csv

In [31]:
snpdf = pd.read_csv('S&P 500 과거 데이터 (1).csv')

In [32]:
snpdf

                날짜        종가        시가        고가        저가  거래량    변동 %
0     2025- 08- 28  6,501.86  6,483.84  6,508.23  6,466.96  NaN   0.32%
1     2025- 08- 27  6,481.40  6,462.26  6,487.06  6,457.84  NaN   0.24%
2     2025- 08- 26  6,465.94  6,435.49  6,468.37  6,429.21  NaN   0.41%
3     2025- 08- 25  6,439.32  6,457.67  6,466.89  6,438.06  NaN  -0.43%
4     2025- 08- 22  6,466.91  6,384.59  6,478.89  6,384.59  NaN   1.52%
...            ...       ...       ...       ...       ...  ...     ...
1920  2018- 01- 08  2,747.70  2,742.70  2,748.50  2,737.60  NaN   0.16%
1921  2018- 01- 05  2,743.20  2,731.30  2,743.40  2,727.90  NaN   0.70%
1922  2018- 01- 04  2,724.00  2,719.30  2,729.30  2,719.10  NaN   0.40%
1923  2018- 01- 03  2,713.10  2,697.80  2,714.40  2,697.80  NaN   0.64%
1924  2018- 01- 02  2,695.80  2,683.70  2,695.90  2,682.40  NaN   0.83%

[1925 rows x 7 columns]

In [33]:
# 예시 입력: '2025-08-24 00:00:00+00:00'
snpdf['날짜'] = pd.to_datetime(snpdf['날짜'], utc=True, errors='coerce')
# 날짜(UTC 자정으로 정규화)
snpdf['date_utc'] = snpdf['날짜'].dt.normalize()  # = yyyy-mm-dd 00:00:00+00:00

In [34]:
snpdf

,날짜,종가,시가,고가,저가,거래량,변동 %,date_utc
0,2025-08-28 00:00:00+00:00,"6,501.86","6,483.84","6,508.23","6,466.96",NaN,0.32%,2025-08-28 00:00:00+00:00
1,2025-08-27 00:00:00+00:00,"6,481.40","6,462.26","6,487.06","6,457.84",NaN,0.24%,2025-08-27 00:00:00+00:00
2,2025-08-26 00:00:00+00:00,"6,465.94","6,435.49","6,468.37","6,429.21",NaN,0.41%,2025-08-26 00:00:00+00:00
3,2025-08-25 00:00:00+00:00,"6,439.32","6,457.67","6,466.89","6,438.06",NaN,-0.43%,2025-08-25 00:00:00+00:00
4,2025-08-22 00:00:00+00:00,"6,466.91","6,384.59","6,478.89","6,384.59",NaN,1.52%,2025-08-22 00:00:00+00:00
...,...,...,...,...,...,...,...,...
1920,2018-01-08 00:00:00+00:00,"2,747.70","2,742.70","2,748.50","2,737.60",NaN,0.16%,2018-01-08 00:00:00+00:00
1921,2018-01-05 00:00:00+00:00,"2,743.20","2,731.30","2,743.40","2,727.90",NaN,0.70%,2018-01-05 00:00:00+00:00
1922,2018-01-04 00:00:00+00:00,"2,724.00","2,719.30","2,729.30","2,719.10",NaN,0.40%,2018-01-04 00:00:00+00:00
1923,2018-01-03 00:00:00+00:00,"2,713.10","2,697.80","2,714.40","2,697.80",NaN,0.64%,2018-01-03 00:00:00+00:00
1924,2018-01-02 00:00:00+00:00,"2,695.80","2,683.70","2,695.90","2,682.40",NaN,0.83%,2018-01-02 00:00:00+00:00

In [35]:
snpdf = snpdf.rename(columns={'종가': 'snp_close'})

In [37]:
snpdf = snpdf[['date_utc', 'snp_close']]

In [38]:
snpdf

                      date_utc snp_close
0    2025-08-28 00:00:00+00:00  6,501.86
1    2025-08-27 00:00:00+00:00  6,481.40
2    2025-08-26 00:00:00+00:00  6,465.94
3    2025-08-25 00:00:00+00:00  6,439.32
4    2025-08-22 00:00:00+00:00  6,466.91
...                        ...       ...
1920 2018-01-08 00:00:00+00:00  2,747.70
1921 2018-01-05 00:00:00+00:00  2,743.20
1922 2018-01-04 00:00:00+00:00  2,724.00
1923 2018-01-03 00:00:00+00:00  2,713.10
1924 2018-01-02 00:00:00+00:00  2,695.80

[1925 rows x 2 columns]

In [39]:
merged3 = pd.merge(merged2, snpdf, on='date_utc', how='left')

In [40]:
merged3

,Open time,Open,High,Low,Close,Volume,Quote asset volume,Number of trades,Taker buy base asset volume,SMA_14,...,STO_RSI_K,STO_RSI_D,OBV,change,change_rate,date_utc,Gold_close,value,value_classification,snp_close
0,2018-01-01 00:00:00+00:00,13715.65,13818.55,12750.00,13380.00,8609.915844,1.147997e+08,105595,3961.938946,14791.98429,...,0.813677,0.650675,8609.915844,0.00,0.000000,2018-01-01 00:00:00+00:00,1306.86,NaN,NaN,NaN
1,2018-01-02 00:00:00+00:00,13382.16,15473.49,12890.02,14675.11,20078.092110,2.797171e+08,177728,11346.326740,14791.98429,...,0.813677,0.650675,28688.007960,-1295.11,-0.096794,2018-01-02 00:00:00+00:00,1318.14,NaN,NaN,"2,695.80"
2,2018-01-03 00:00:00+00:00,14690.00,15307.56,14150.00,14919.51,15905.667640,2.361169e+08,162787,8994.953566,14791.98429,...,0.813677,0.650675,44593.675590,-244.40,-0.016654,2018-01-03 00:00:00+00:00,1312.84,NaN,NaN,"2,713.10"
3,2018-01-04 00:00:00+00:00,14919.51,15280.00,13918.04,15059.54,21329.649570,3.127816e+08,170310,12680.812950,14791.98429,...,0.813677,0.650675,65923.325170,-140.03,-0.009386,2018-01-04 00:00:00+00:00,1322.97,NaN,NaN,"2,724.00"
4,2018-01-05 00:00:00+00:00,15059.56,17176.24,14600.00,16960.39,23251.491130,3.693220e+08,192969,13346.622290,14791.98429,...,0.813677,0.650675,89174.816290,-1900.85,-0.126222,2018-01-05 00:00:00+00:00,1320.21,NaN,NaN,"2,743.20"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2792,2025-08-24 00:00:00+00:00,115438.06,115666.68,115196.00,115601.93,1193.357180,1.377137e+08,129125,665.360720,117225.17000,...,0.228149,0.161831,-426573.084600,823.40,0.007072,2025-08-24 00:00:00+00:00,NaN,53.0,Neutral,NaN
2793,2025-08-25 00:00:00+00:00,113493.59,113516.16,112159.00,113199.99,1458.788830,1.646539e+08,406224,697.641960,116635.18140,...,0.253211,0.223368,-428031.873500,2401.94,0.020778,2025-08-25 00:00:00+00:00,3366.79,47.0,Neutral,"6,439.32"
2794,2025-08-26 00:00:00+00:00,110111.98,110111.98,108666.66,109856.01,3231.354180,3.535917e+08,792879,1526.406610,115984.27210,...,0.133067,0.204809,-431263.227700,3343.98,0.029540,2025-08-26 00:00:00+00:00,3392.88,48.0,Neutral,"6,465.94"
2795,2025-08-27 00:00:00+00:00,111763.22,111825.16,111092.80,111295.21,1064.992840,1.187093e+08,184389,432.305860,115414.31640,...,0.076038,0.154106,-430198.234800,-1439.20,-0.013101,2025-08-27 00:00:00+00:00,3397.42,51.0,Neutral,"6,481.40"
2796,2025-08-28 00:00:00+00:00,111262.01,111714.28,110862.42,111652.47,651.685180,7.255099e+07,218066,328.710970,114563.16070,...,0.133652,0.114252,-429546.549600,-357.26,-0.003210,2025-08-28 00:00:00+00:00,3417.20,48.0,Neutral,"6,501.86"

In [41]:
dwodf = pd.read_csv("다우존스 과거 데이터 (1).csv")

In [42]:
dwodf

,날짜,종가,시가,고가,저가,거래량,변동 %
0,2025- 08- 28,"45,636.90","45,581.03","45,682.83","45,442.68",540.89M,0.16%
1,2025- 08- 27,"45,565.23","45,417.46","45,621.08","45,372.78",430.99M,0.32%
2,2025- 08- 26,"45,418.07","45,236.83","45,437.62","45,192.29",490.98M,0.30%
3,2025- 08- 25,"45,282.47","45,605.25","45,605.25","45,273.09",393.96M,-0.77%
4,2025- 08- 22,"45,631.74","44,952.88","45,757.84","44,952.88",484.73M,1.89%
...,...,...,...,...,...,...,...
1921,2018- 01- 08,"25,283.00","25,308.40","25,311.99","25,235.41",341.39M,-0.05%
1922,2018- 01- 05,"25,295.87","25,114.92","25,299.79","25,112.01",358.02M,0.88%
1923,2018- 01- 04,"25,075.13","24,964.86","25,105.96","24,963.27",403.28M,0.61%
1924,2018- 01- 03,"24,922.68","24,850.45","24,941.92","24,825.55",456.79M,0.40%
1925,2018- 01- 02,"24,824.01","24,809.35","24,864.19","24,741.70",341.13M,0.42%

In [43]:
# 예시 입력: '2025-08-24 00:00:00+00:00'
dwodf['날짜'] = pd.to_datetime(dwodf['날짜'], utc=True, errors='coerce')
# 날짜(UTC 자정으로 정규화)
dwodf['date_utc'] = dwodf['날짜'].dt.normalize()  # = yyyy-mm-dd 00:00:00+00:00

In [45]:
dwodf = dwodf.rename(columns={'종가': 'dwo_close'})

In [46]:
dwodf

,날짜,dwo_close,시가,고가,저가,거래량,변동 %,date_utc
0,2025-08-28 00:00:00+00:00,"45,636.90","45,581.03","45,682.83","45,442.68",540.89M,0.16%,2025-08-28 00:00:00+00:00
1,2025-08-27 00:00:00+00:00,"45,565.23","45,417.46","45,621.08","45,372.78",430.99M,0.32%,2025-08-27 00:00:00+00:00
2,2025-08-26 00:00:00+00:00,"45,418.07","45,236.83","45,437.62","45,192.29",490.98M,0.30%,2025-08-26 00:00:00+00:00
3,2025-08-25 00:00:00+00:00,"45,282.47","45,605.25","45,605.25","45,273.09",393.96M,-0.77%,2025-08-25 00:00:00+00:00
4,2025-08-22 00:00:00+00:00,"45,631.74","44,952.88","45,757.84","44,952.88",484.73M,1.89%,2025-08-22 00:00:00+00:00
...,...,...,...,...,...,...,...,...
1921,2018-01-08 00:00:00+00:00,"25,283.00","25,308.40","25,311.99","25,235.41",341.39M,-0.05%,2018-01-08 00:00:00+00:00
1922,2018-01-05 00:00:00+00:00,"25,295.87","25,114.92","25,299.79","25,112.01",358.02M,0.88%,2018-01-05 00:00:00+00:00
1923,2018-01-04 00:00:00+00:00,"25,075.13","24,964.86","25,105.96","24,963.27",403.28M,0.61%,2018-01-04 00:00:00+00:00
1924,2018-01-03 00:00:00+00:00,"24,922.68","24,850.45","24,941.92","24,825.55",456.79M,0.40%,2018-01-03 00:00:00+00:00
1925,2018-01-02 00:00:00+00:00,"24,824.01","24,809.35","24,864.19","24,741.70",341.13M,0.42%,2018-01-02 00:00:00+00:00

In [47]:
dwodf = dwodf[['date_utc','dwo_close']]

In [48]:
dwodf

                      date_utc  dwo_close
0    2025-08-28 00:00:00+00:00  45,636.90
1    2025-08-27 00:00:00+00:00  45,565.23
2    2025-08-26 00:00:00+00:00  45,418.07
3    2025-08-25 00:00:00+00:00  45,282.47
4    2025-08-22 00:00:00+00:00  45,631.74
...                        ...        ...
1921 2018-01-08 00:00:00+00:00  25,283.00
1922 2018-01-05 00:00:00+00:00  25,295.87
1923 2018-01-04 00:00:00+00:00  25,075.13
1924 2018-01-03 00:00:00+00:00  24,922.68
1925 2018-01-02 00:00:00+00:00  24,824.01

[1926 rows x 2 columns]

In [49]:
merged4 = pd.merge(merged3, dwodf, on='date_utc', how='left')

In [51]:
merged4

,Open time,Open,High,Low,Close,Volume,Quote asset volume,Number of trades,Taker buy base asset volume,SMA_14,...,STO_RSI_D,OBV,change,change_rate,date_utc,Gold_close,value,value_classification,snp_close,dwo_close
0,2018-01-01 00:00:00+00:00,13715.65,13818.55,12750.00,13380.00,8609.915844,1.147997e+08,105595,3961.938946,14791.98429,...,0.650675,8609.915844,0.00,0.000000,2018-01-01 00:00:00+00:00,1306.86,NaN,NaN,NaN,NaN
1,2018-01-02 00:00:00+00:00,13382.16,15473.49,12890.02,14675.11,20078.092110,2.797171e+08,177728,11346.326740,14791.98429,...,0.650675,28688.007960,-1295.11,-0.096794,2018-01-02 00:00:00+00:00,1318.14,NaN,NaN,"2,695.80","24,824.01"
2,2018-01-03 00:00:00+00:00,14690.00,15307.56,14150.00,14919.51,15905.667640,2.361169e+08,162787,8994.953566,14791.98429,...,0.650675,44593.675590,-244.40,-0.016654,2018-01-03 00:00:00+00:00,1312.84,NaN,NaN,"2,713.10","24,922.68"
3,2018-01-04 00:00:00+00:00,14919.51,15280.00,13918.04,15059.54,21329.649570,3.127816e+08,170310,12680.812950,14791.98429,...,0.650675,65923.325170,-140.03,-0.009386,2018-01-04 00:00:00+00:00,1322.97,NaN,NaN,"2,724.00","25,075.13"
4,2018-01-05 00:00:00+00:00,15059.56,17176.24,14600.00,16960.39,23251.491130,3.693220e+08,192969,13346.622290,14791.98429,...,0.650675,89174.816290,-1900.85,-0.126222,2018-01-05 00:00:00+00:00,1320.21,NaN,NaN,"2,743.20","25,295.87"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2792,2025-08-24 00:00:00+00:00,115438.06,115666.68,115196.00,115601.93,1193.357180,1.377137e+08,129125,665.360720,117225.17000,...,0.161831,-426573.084600,823.40,0.007072,2025-08-24 00:00:00+00:00,NaN,53.0,Neutral,NaN,NaN
2793,2025-08-25 00:00:00+00:00,113493.59,113516.16,112159.00,113199.99,1458.788830,1.646539e+08,406224,697.641960,116635.18140,...,0.223368,-428031.873500,2401.94,0.020778,2025-08-25 00:00:00+00:00,3366.79,47.0,Neutral,"6,439.32","45,282.47"
2794,2025-08-26 00:00:00+00:00,110111.98,110111.98,108666.66,109856.01,3231.354180,3.535917e+08,792879,1526.406610,115984.27210,...,0.204809,-431263.227700,3343.98,0.029540,2025-08-26 00:00:00+00:00,3392.88,48.0,Neutral,"6,465.94","45,418.07"
2795,2025-08-27 00:00:00+00:00,111763.22,111825.16,111092.80,111295.21,1064.992840,1.187093e+08,184389,432.305860,115414.31640,...,0.154106,-430198.234800,-1439.20,-0.013101,2025-08-27 00:00:00+00:00,3397.42,51.0,Neutral,"6,481.40","45,565.23"
2796,2025-08-28 00:00:00+00:00,111262.01,111714.28,110862.42,111652.47,651.685180,7.255099e+07,218066,328.710970,114563.16070,...,0.114252,-429546.549600,-357.26,-0.003210,2025-08-28 00:00:00+00:00,3417.20,48.0,Neutral,"6,501.86","45,636.90"

In [52]:
merged4 = merged4[31:]
merged4

,Open time,Open,High,Low,Close,Volume,Quote asset volume,Number of trades,Taker buy base asset volume,SMA_14,...,STO_RSI_D,OBV,change,change_rate,date_utc,Gold_close,value,value_classification,snp_close,dwo_close
31,2018-02-01 00:00:00+00:00,10285.10,10335.00,8750.99,9224.52,33564.76431,3.176363e+08,316020,15430.00385,11096.24929,...,0.456746,-6091.037362,1060.58,0.103118,2018-02-01 00:00:00+00:00,1349.19,30.0,Fear,"2,822.00","26,186.71"
32,2018-02-02 00:00:00+00:00,9224.52,9250.00,8010.02,8873.03,49971.62698,4.342365e+08,453411,23113.50358,10910.39571,...,0.273759,-56062.664340,351.49,0.038104,2018-02-02 00:00:00+00:00,1332.98,15.0,Extreme Fear,"2,762.10","25,520.96"
33,2018-02-03 00:00:00+00:00,8873.03,9473.01,8229.00,9199.96,28725.00074,2.568347e+08,327519,14182.83815,10653.25429,...,0.139480,-27337.663600,-326.93,-0.036845,2018-02-03 00:00:00+00:00,NaN,40.0,Fear,NaN,NaN
34,2018-02-04 00:00:00+00:00,9199.96,9368.00,7930.00,8184.81,32014.30845,2.749123e+08,356134,13805.29579,10414.31214,...,0.084185,-59351.972050,1015.15,0.110343,2018-02-04 00:00:00+00:00,NaN,24.0,Extreme Fear,NaN,NaN
35,2018-02-05 00:00:00+00:00,8179.99,8382.80,6625.00,6939.99,63403.18258,4.711662e+08,533510,29857.35839,10141.45071,...,0.066005,-122755.154600,1244.82,0.152089,2018-02-05 00:00:00+00:00,1339.60,11.0,Extreme Fear,"2,648.90","24,345.75"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2792,2025-08-24 00:00:00+00:00,115438.06,115666.68,115196.00,115601.93,1193.35718,1.377137e+08,129125,665.36072,117225.17000,...,0.161831,-426573.084600,823.40,0.007072,2025-08-24 00:00:00+00:00,NaN,53.0,Neutral,NaN,NaN
2793,2025-08-25 00:00:00+00:00,113493.59,113516.16,112159.00,113199.99,1458.78883,1.646539e+08,406224,697.64196,116635.18140,...,0.223368,-428031.873500,2401.94,0.020778,2025-08-25 00:00:00+00:00,3366.79,47.0,Neutral,"6,439.32","45,282.47"
2794,2025-08-26 00:00:00+00:00,110111.98,110111.98,108666.66,109856.01,3231.35418,3.535917e+08,792879,1526.40661,115984.27210,...,0.204809,-431263.227700,3343.98,0.029540,2025-08-26 00:00:00+00:00,3392.88,48.0,Neutral,"6,465.94","45,418.07"
2795,2025-08-27 00:00:00+00:00,111763.22,111825.16,111092.80,111295.21,1064.99284,1.187093e+08,184389,432.30586,115414.31640,...,0.154106,-430198.234800,-1439.20,-0.013101,2025-08-27 00:00:00+00:00,3397.42,51.0,Neutral,"6,481.40","45,565.23"
2796,2025-08-28 00:00:00+00:00,111262.01,111714.28,110862.42,111652.47,651.68518,7.255099e+07,218066,328.71097,114563.16070,...,0.114252,-429546.549600,-357.26,-0.003210,2025-08-28 00:00:00+00:00,3417.20,48.0,Neutral,"6,501.86","45,636.90"

In [53]:
merged4.to_csv('merged_all.csv')